<?xml version="1.0"?>
<launch>

    <arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)" />
    <arg name="pkg_hardware_config" default="$(find cob_hardware_config)"/>
    <arg name="can_device" default="can0"/>

    <!-- upload robot_description -->
    <include file="$(arg pkg_hardware_config)/common/upload_robot.launch" >
            <arg name="robot" value="$(arg robot)" />
    </include>

    <node name="calib_driver" pkg="canopen_motor_node" type="canopen_motor_node" clear_params="true">
            <rosparam param="bus/device" subst_value="True">$(arg can_device)</rosparam>
            <rosparam command="load" file="$(find cob4_homing)/config/calib_driver.yaml" />
    </node>
    <rosparam command="load" file="$(find cob4_homing)/config/base_controller.yaml" />

    <node name="base_test" pkg="cob4_homing" type="patch.py" output="screen" required="true"/>
</launch>
