<?xml version="1.0"?>
<launch>
	
	<param name="/use_sim_time" value="false"/>
	<arg name="robot" default="cob4-2"/>
	<arg name="robot_env" default="ipa-apartment"/>
	<!--arg name="pkg_env_config" default="cob_default_env_config"/-->

	<include file="$(find cob_bringup)/robots/robot.launch" >
		<!--arg name="pkg_env_config" value="$(arg pkg_env_config)" /-->
	</include>

</launch>
