<?xml version="1.0"?>
<launch>
	
	<param name="/use_sim_time" value="false"/>
	<arg name="robot" default="myrobot"/>
	<!--arg name="pkg_env_config" default="cob_default_env_config"/-->

	<include file="$(find msh_bringup)/launch/all.launch" >
		<arg name="env-script" value="/u/msh/git/care-o-bot/devel/env.sh"/>
		<arg name="robot_env" value="saturn-ingolstadt" />
	</include>

</launch>
